doctype html
html.no-js(lang="en")
  head
    link(rel="shortcut icon" href="/img/favicon.png")
    meta(name="robots" content="noindex, nofollow")

  body
    #inbound
      div(
        data-view="experiments/exponent/digit.pug"
      )
        - ln = 12
        - arr = []
        svg(
          width=960
          viewBox=`0 0 ${40 * 64} ${(Math.pow(2, ln) / 64) * 40}`
        )
          for n, i in new Array(Math.pow(2,ln))
            - arr.push(i)

          for i, j in _.shuffle(arr)
            - str  = i.toString(2).split("")
            - while(str.length < ln) str.unshift(0)
            - list = str.map(parseFloat).map(Boolean)
            svg(
              data-list=str.join("")
              data-index=i
              x=(i % 64) * 40
              y=Math.floor(i / 64) * 40
              width=40
              height=40
              viewBox="0 0 64 64"
            )
              rect(
                fill="none"
                stroke="black"
                x=8
                y=8
                height=48
                width=48
              )
              //- g
                text(x=48 y=8 text-anchor="end")= i
                text(x=16 y=8)= String.fromCharCode(i)
                text(x=16 y=72)= list.map((e)=> e ? 1 : 0).join("")
              //- g
                circle(cx=16 cy=16 r=2)
                circle(cx=48 cy=16 r=2)
                circle(cx=16 cy=32 r=2)
                circle(cx=48 cy=32 r=2)
                circle(cx=16 cy=48 r=2)
                circle(cx=48 cy=48 r=2)

              g
                for active, k in list
                  if active
                    case k
                      //- Horizontal
                      when 0
                        line(x1=16 y1=16 x2=32 y2=16 stroke-width=5)
                      when 1
                        line(x1=32 y1=16 x2=48 y2=16 stroke-width=5)
                      when 2
                        line(x1=16 y1=32 x2=32 y2=32 stroke-width=5)
                      when 3
                        line(x1=32 y1=32 x2=48 y2=32 stroke-width=5)
                      when 4
                        line(x1=16 y1=48 x2=32 y2=48 stroke-width=5)
                      when 5
                        line(x1=32 y1=48 x2=48 y2=48 stroke-width=5)

                      //- Vertical
                      when 6
                        line(x1=16 y1=16 x2=16 y2=32 stroke-width=5)
                      when 7
                        line(x1=16 y1=32 x2=16 y2=48 stroke-width=5)
                      when 8
                        line(x1=32 y1=16 x2=32 y2=32 stroke-width=5)
                      when 9
                        line(x1=32 y1=32 x2=32 y2=48 stroke-width=5)
                      when 10
                        line(x1=48 y1=16 x2=48 y2=32 stroke-width=5)
                      when 11
                        line(x1=48 y1=32 x2=48 y2=48 stroke-width=5)

      //- #type

    script(type="text/javascript" src=`/js/vendor.${version}.js`)

    style
      :sass
        html, body
          height: 100%
          width: 100%
          margin: 0
          display: flex

        #inbound
          // width: 16 * 64px
          // width: 64 * 32px
          margin: auto
          padding: 80px 0


        svg
          display: block
          float: left
          font-family: sans-serif
          font-size: 8px
          margin-right: -8px
          margin-bottom: 8px

        line
          stroke: currentColor
          stroke-linecap: round

        text
          fill: #ccc

        .inactive
          color: #ccc

        .break
          clear: left
          min-height: 1px
