extends ../../partials/project

block prepend config
  - var project = data.getOne("projects",  "illustration");

block append article
  .gallery.stretch
    #item-1.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/006.jpg"
        )
    #item-2.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/001.jpg"
        )
    #item-3.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/002.jpg"
        )
    #item-4.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/005.jpg"
        )
    #item-5.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/007.jpg"
        )
    #item-6.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/004.jpg"
        )
    #item-7.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/003.jpg"
        )
    #item-8.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/008.jpg"
        )
    #item-9.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/009.jpg"
        )
    #item-10.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/010.jpg"
        )
    #item-11.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/011.jpg"
        )
    #item-12.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/illustration/012.jpg"
        )

