extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts", "antipode");

block append article
  .gallery.stretch(autocorrect="off" spellcheck="false")
    #item-1.gallery-item.pv-xxl.flex-evenly.bg-dk
      .txt-center.txt-nowrap(style="text-shadow: 0 -4px 40px rgba(0,0,0,0.8);letter-spacing:-0.1em")
        .t-5.f-g-700(style="line-height: 0.512; margin-left: 0.96em;").txt-hl antipode
        .t-5.f-g-700(style="line-height: 0.512; margin-left: -0.8em;").txt-mt is a super
        .t-5.f-g-700(style="line-height: 0.512; margin-left: -1.08em;") family

    #item-2.gallery-item.pv-xxl.ph-lg.flex-evenly.bg-hl
      .t-6.num-tf.txt-center
        for n, i in new Array(10)
          span.digit.txt-dk(class=`f-g-${700 - ~~(Math.sin(Math.PI * i / 9) * 5) * 100}${["", "cond", "semi", "wide"][i % 4]}`)  #{i}
          span.digit(class=`f-g-${100 + ~~(Math.sin(Math.PI * i / 9) * 5) * 200}`)  #{i}

    #item-3.gallery-item.pv-xxl.ph-lg.flex-evenly
      .txt-center
        .f-g-400.txt-tu corner of
        .t-3
          .f-g-500wide(contenteditable style="font-size: 1em") Liverpool and York
          .f-g-400semi(contenteditable style="font-size: 0.99em") Castlereagh and King
          .f-g-200wide(contenteditable style="font-size: 0.99em") Foveaux and Bourke
          .f-g-800semii(contenteditable style="font-size: 1.06em") Windmill and Kent
          .f-g-600.txt-tu(contenteditable style="font-size: 0.77em") George and Argyle
          .f-g-700cond(contenteditable style="font-size: 1.06em") Clarence and Market
          .f-g-300condi.txt-tu(contenteditable style="font-size: 0.88em") Erskine and Hickson
          .f-g-900(contenteditable style="font-size: 1.06em")
            span.txt-hl William
            |  &amp; Hunter

    #item-4.gallery-item.bg-dk.flex-evenly.ph-lg
      .txt-center
        hr
        .flex-grid
          for list, width in _.groupBy(project.font.variants, "width")
            div
              .f-g-400.txt-hl= _.invert(project.font.widths)[width] || "Regular"
              for variant in list
                .txt-ellipsis(class=`f-g-${variant.weight}${variant.width || ""}${variant.style ? "i" : ""}`)
                  = variant.name.slice(0, 16)

        hr

    #item-5.gallery-item.pv-xxl.ph-xl.flex-evenly.txt-justify(
      data-view="views/font-selector"
      data-target="#font-tester"
      data-label="#font-label"
      data-widths=project.font.widths
      data-weights=project.font.weights
    )
      .mx-md.f-g-400
        nav.pv-sm

          .flex-grid
            label.txt-tu
              .fl-l Width
              input.fl-l(type="range" value="3" name="width" min=1 max=_.size(project.font.widths))
            label.txt-tu
              .fl-l Weight
              input.fl-l(type="range" value="3" name="weight" min=1 max=_.size(project.font.weights))
            label.txt-tu
              .fl-l Size
              input.fl-l(type="range" value="17" name="size" min=12 max=96)
            label.txt-tu
              .fl-l Italic
              input.fl-l.checkbox-hidden(type="checkbox" name="italic" value="off")
              .checkbox

        #font-tester.of-auto(contenteditable
          style={
            "height": "440px",
            "word-break": "break-all"
          }
        )
          :marked
            Without, the night was cold and wet, but in the small parlour of Laburnum villa the blinds were drawn and the fire burned brightly. Father and son were at chess; the former, who possessed ideas about the game involving radical chances, putting his king into such sharp and unnecessary perils that it even provoked comment from the white-haired old lady knitting placidly by the fire.

            *“Hark at the wind,”* said Mr. White, who, having seen a fatal mistake after it was too late, was amiably desirous of preventing his son from seeing it.

            *“I’m listening,”* said the latter grimly surveying the board as he stretched out his hand. *“Check.”*

            *“I should hardly think that he's come tonight,”* said his father, with his hand poised over the board.

            *“Mate,”* replied the son.

        .pv-sm.txt-ulc
          | &nbsp;
          #font-tester-mask.bg-hl.txt-center
            | William&nbsp;
            span#font-label Regular 17px

    #item-6.gallery-item.pv-xxl.ph-lg.flex-evenly.txt-center.bg-lt
      .pv-sm.mx-md.t-1
        .pv-sm.f-g-400(contenteditable)
          :marked
            Bouncy squad eking prize<br>with pelvic flexion jump.

        .pv-sm.f-g-600semi(contenteditable)
          :marked
            View half a dozen squid &<br>peg just six inky crumbs.

        .pv-sm.f-g-100condi(contenteditable)
          :marked
            Rum gravy with Adzuki beans,<br>jalapeno, quince & flax.

        .pv-sm.f-g-800wide(contenteditable)
          :marked
            Whiz-bang taxi drives off<br>quickly up major road.

        .pv-sm.f-g-200cond(contenteditable)
          :marked
            Lazy kid craves job of waxing<br>his linoleum frequently.

        .pv-sm.f-g-300i(contenteditable)
          :marked
            Back in June we delivered oxygen<br>equipment of the same size.

    #item-7.gallery-item.p-xxl.flex-evenly
      dl
        dt Font Details
        dd
          | Antipode is fuses geometric, grotesque and humanist characteristics
          | into a sans-serif typeface with a narrow aperture.
          | The font is designed with proportions that cater for long sections
          | of text, without compromising it's impact at display weights. The
          | range of weights, widths and matching italics make it the go-to
          | choice for applications where flexibility is a must.

        .col-wrap
          .col-sm
            dt Weights
            dd.txt-sm  8
            | &nbsp;
          .col-sm
            dt Widths
            dd.txt-sm  4
            | &nbsp;
          .col-sm
            dt Includes
            dd.txt-sm  Matching Italics

        dt Language Support
        dd.txt-sm
          | Afrikaans, Albanian, Asturian, Asu, Azerbaijani, Basque, Bemba,
          | Bena, Bosnian, Breton, Catalan, Chiga, Colognian, Cornish,
          | Croatian, Czech, Danish, Dutch, Embu, English, Esperanto,
          | Estonian, Faroese, Filipino, Finnish, French, Friulian,
          | Galician, Ganda, German, Greek, Gusii, Hawaiian, Hungarian,
          | Icelandic, Igbo, Inari Sami, Indonesian, Irish, Italian,
          | Jola-Fonyi, Kabuverdianu, Kalenjin, Kamba, Kikuyu, Kinyarwanda,
          | Latvian, Lithuanian, Low German, Lower Sorbian, Luo,
          | Luxembourgish, Luyia, Machame, Makhuwa-Meetto, Makonde,
          | Malagasy, Malay, Maltese, Manx, Meru, Morisyen, Nama, North
          | Ndebele, Northern Sami, Norwegian Bokmål, Norwegian Nynorsk,
          | Nyankole, Oromo, Polish, Portuguese, Quechua, Romanian, Romansh,
          | Rombo, Rundi, Rwa, Samburu, Sango, Sangu, Scottish Gaelic, Sena,
          | Shambala, Shona, Slovak, Slovenian, Soga, Somali, Spanish,
          | Swahili, Swedish, Swiss German, Taita, Teso, Tongan, Turkish,
          | Turkmen, Upper Sorbian, Uzbek, Vunjo, Walser, Welsh, Western
          | Frisian, Yoruba and Zulu

        dt OpenType Features
        dd.txt-sm
          | Alternates, Capitals to Small Caps, Case Sensive Forms, Glyph
          | Composition &amp; Decomposition, Discretionary Ligatures,
          | Denominator, Fractions, Standard Ligatures, Lining Figures,
          | Localized Forms, Numerator, Oldstyle Figures, Ordinals,
          | Proportional Figures, Tabular Figures, Scientific Inferiors,
          | Small Caps, Subscript and Superscript


  style
    :sass
      #font-tester-wrap
        border-top: 1px solid
        border-bottom: 1px solid

      #font-tester
        height: 440px
        word-break: break-all
        margin: 0 -8px

        p
          margin-bottom: 8px

      #font-tester-mask
        position: absolute
        top: -80px
        height: 960px
        width: 960px
        left: 50%
        margin-left: -480px
        border-radius: 480px
        padding-top: 80px

      .digit
        width: 0.7em
        display: inline-block

//- liquored ex-army privates whinged about jazz funk
//- ex-army privates with king of juicy liquid buzz

//- Sexist fuzz drive quickly
//- up major roads howling.
