extends ../partials/layout

block append config
  - page.class = "page-projects";
  - page.title = "Projects";
  - page.description = "Experiments, designs & tools made in the small hours";
  - var projects = data.getAll("projects");

block content
  .col-sm
    h1 Projects
    h2.hl-block
      span.highlight Experiments, designs &amp; tools
      span.highlight made in the small hours.

    hr

  .col-full(data-view="views/tiles")
    ul.tile-tags
      - tags = _.chain(projects).pluck("tags").flatten().uniq().sort().value()
      for tag in tags
        li.tile-tag
          a.tile-tag-link(href="##{tag}" data-noscroll)= tag

    .projects.col-wrap
      for project in projects
        a.tile-link(
          href=project.path
          class=project.size || "col-sm"
          data-tags=project.tags.join(",")
        )
          .tile-imgs
            img.tile-img.tile-img-reveal(data-src=project.imgs.reveal)
            img.tile-img.tile-img-cover(src=project.imgs.cover)

          .tile-caption
            h3.tile-name!= project.name
            .tile-desc.col-md
              p!= typogr(project.desc || "").typogrify()
              small.tile-tags.text-muted
                != project.tags.join(" &middot; ")

            .tile-open &rarr;
            .tile-close &times;
  
block append scripts
  script(type="application/ld+json").
    {
      "@context": "http://s-ings.com",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://s-ings.com/projects",
          "name": "Projects"
        }
      }]
    }
