header#header(data-view="views/header")
  h4#logo.txt-uppercase.fl-l.tight  
    img#header-loader(
      src="/img/shapes.gif"
      title="Hello. I’m here when loading another page."
      width=40 height=40
    )

    a#logo-link.btn-ul(href="/")
      for c in "s·ings"
        if c == "·"
          span.diamond ◆
        else
          span.header-char= c

  if page.navigation
    nav.fl-r
      for link in page.navigation
        h4
          a.btn-ul(
            href=link.href
            style=link.style
            class=link.className
          )= link.title
