block config
  - var page = {};
  - page.description  = "Hi, I’m Stephen Hutchings. ";
  - page.description += "I design and build well-crafted digital ";
  - page.description += "interfaces, interactions & experiences.";
  - page.style = {};

- if (!page.title || !page.description) console.log(__, page)

doctype html
html.no-js(lang="en")
  head
    block head
      - page.metaTitle = page.metaTitle || page.title;
      - page.metaDescription = page.metaDescription || page.description;

      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
      meta(
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1"
      )


      title
        block title
          != page.metaTitle

      meta(name="title"               content=page.metaTitle)
      meta(name="twitter:title"       content=page.metaTitle)
      meta(name="description"         content=page.metaDescription)
      meta(name="og:description"      content=page.metaDescription)
      meta(name="twitter:description" content=page.metaDescription)
      meta(name="og:image"            content=page.image)
      meta(name="og:site_name"        content="Stephen Hutchings")
      meta(name="og:type"             content="website")
      meta(name="keywords"            content=package.keywords.join(", "))
      meta(name="author"              content="Stephen Hutchings")
      meta(name="copyright"           content=`Stephen Hutchings ${(new Date().getFullYear())}`)
      meta(name="robots"              content="index, follow")

      meta(http-equiv="content-type" content="text/html;UTF-8")
      meta(http-equiv="cache-control" content="cache")
      meta(http-equiv="content-language" content="en")
      meta(http-equiv="revisit-after" content="31 days")

      link(rel="shortcut icon" href="/img/favicon.png")

      block css
        link(rel="stylesheet" href="/css/app.css")

  body
    block page
      #outbound
      #inbound.ready(class=page.class)
        block body
          .content.stretch
            aside.flex-between.stretch
              block aside
                block header
                  include header

            article.stretch(
              style=(_.map(page.style, function(v, k){ 
                return v ? k + ":" + v : ""
              })).join(";")
            )
              block article
        
        block footer
          include footer

    block scripts
      script(type="text/javascript" src="/js/vendor.js")
      script(type="text/javascript" src="/js/app.js")    
      script(type="text/javascript").
        $(document).ready(function(){
          require("app").initialize();
        })

      script(type="text/javascript").
        if (window.console && window.console.log) {
          window.console.log([
            "",
            "╭───────────────────────────────╮",
            "│                               │",
            "│  Hi, I'm Stephen Hutchings.   │",
            "│  Want to get in touch? Reach  │",
            "│  out to stephen@s-ings.com.   │",
            "│                               │",
            "╰───────────────────────────────╯"
          ].join("\n"))
        }
