extends layout

block append config
  - var projectClass = `page-${written.hyphenCase(project.name)}`;
  - page.class = `page-gallery ${projectClass}`;
  - page.title = project.name;
  - page.metaDescription = project.desc;
  - page = _.extend(page, project)

block append aside
  if project.font
    style
      - n = 6; d = Math.pow(11.11, 1 / n);

      for size, i in new Array(n)
        | .#{projectClass} .t-#{i + 1} {
        |   font-size: #{Math.pow(d, i + 1)}em;
        |   line-height: #{1 + 0.05 * ((n / 2) - i)};
        | }
      for variant, i in project.font.variants
        - var fontName = `${project.font.name.toLowerCase()}${variant.width || ""}`
        - var path = project.font.path + project.font.name + "-" + variant.name
        | @font-face {
        |   font-family: #{fontName};
        |   font-weight: #{variant.weight};
        |   font-style: #{variant.style || "normal"};
        |   font-display: block;
        |   src: url("#{path}.woff") format("woff"),
        |        url("#{path}.woff2") format("woff2"),
        |        url("#{path}.otf") format("opentype");
        | }
        | .#{projectClass} .f-g-#{variant.weight}#{variant.width || ""}#{variant.style ? "i" : ""} {
        |   font-family: #{fontName};
        |   font-weight: #{variant.weight};
        |   font-style: #{variant.style || "normal"};
        | }

  block description
    section
      h1.pv-sm!= project.name

      != typogr.typogrify(marked(project.desc))

      if project.version || project.urls
        ul.list-inline.txt-sm
          if project.urls
            for action, i in project.urls
              li
                a.btn-ul(href=action.link)
                  h4= action.text

          if project.version
            li
              strong.txt-sm v&thinsp;
                span.txt-uppercase #{project.version}

block prepend article
  if project.pageCount
    .gallery-pagination.bg-dk(
      data-view="views/gallery-scroller"
      class=project.pageCount < 10 ? "gallery-sm" : "gallery-lg"
    )
      for page, i in (new Array(project.pageCount))
        a(href=`#item-${i + 1}` data-parent=".gallery")
          = i + 1

block append article
   block project
