extends layout

block append config
  - var projectClass = `page-${written.hyphenCase(project.name)}`;
  - page.class = `page-gallery ${projectClass}`;
  - page.title = project.name;
  - page = _.extend(page, project)

block append aside
  if project.colors
    style
      | .txt-hl { color: #{project.colors.highlight}; }
      | .txt-mt { color: #{project.colors.muted}; }
      | .bg-lt  { background-color: #{project.colors.light}; }
      | .bg-hl  { background-color: #{project.colors.highlight}; }
      | .bg-dk  { background-color: #{project.colors.dark};  }

  if project.font
    style
      - n = 6; d = Math.pow(11.11, 1 / n);
      for size, i in new Array(n)
        | .#{projectClass} .t-#{i + 1} {
        |   font-size: #{Math.pow(d, i + 1)}em;
        |   line-height: #{1 + 0.05 * ((n / 2) - i)};
        | }
      for variant, i in project.font.variants
        - var path = project.font.path + project.font.name + "-" + variant.name
        | @font-face {
        |   font-family: #{project.font.name};
        |   font-weight: #{variant.weight};
        |   font-style: #{variant.style || "normal"};
        |   font-display: block;
        |   src: url("#{path}.woff") format("woff"),
        |        url("#{path}.woff2") format("woff2"),
        |        url("#{path}.otf") format("opentype");
        | }
        | .#{projectClass} .f-g-#{variant.weight}#{variant.style ? "i" : ""} {
        |   font-family: #{project.font.name};
        |   font-weight: #{variant.weight};
        | }

  block description
    section
      h1.pv-sm!= project.name

      != typogr.typogrify(marked(project.desc))

      if project.urls
        for action, i in project.urls
          if i > 0
            | &ensp;&middot;&ensp;
          a.btn-ul(href=action.link)
            h4= action.text

      if project.version
        | &ensp;&middot;&ensp;

        strong.txt-sm v&thinsp;
          span.txt-uppercase #{project.version}

block append scripts
  script(type="application/ld+json").
    {
      "@context": "http://s-ings.com",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://s-ings.com/projects",
          "name": "Projects"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": `http://s-ings.com/projects/${projectPath}`,
          "name": `${project.name}`
        }
      }]
    }

block prepend article
  if project.pageCount
    .gallery-pagination.bg-dk(
      data-view="views/gallery-scroller"
      class=project.pageCount < 10 ? "gallery-sm" : "gallery-lg"
    )
      for page, i in (new Array(project.pageCount))
        a(href=`#item-${i + 1}` data-parent=".gallery")
          = i + 1

block append article
   block project
