extends partials/layout

block append config
  - page.class = "page-about";
  - page.title = "Stephen Hutchings, digital designer and front-end developer in Sydney";
  - page.image = "/img/page/s-ings.com.png"
  - page.style.background = "#1c1b1e";
  - page.style.color = "white";

block append head
  meta(
    name="google-site-verification"
    content="j2qH6q1a7HLwyCh12csRKq88mBtuVE01DVnie41MBiw"
  )

block nav
  nav.fl-right
    h4.txt-uppercase
      a(href="/me") Read More

block body
  .content.stretch
    .p-v-xxl.content-wrap.flex-between(style="min-height: 60vh")
      include partials/header

      .col-wrap
        .col-full
          h1.txt-light.txt-justify
            strong.txt-lowercase
              | S
              span.txt-white.txt-strike tephen Hutch
              | ings
            |  is a 
            strong multi&#x2011;disciplinary digital designer
            span(style="margin: 0 -0.1em;") ,
            span
              |  with hands-on experi&shy;ence spanning UI &amp; UX design, 
              | front&#x2011;end develop&shy;ment, type design, branding, 
              | animation and&nbsp;illustration

    mixin thumb(opts)
      .thumb(
        class=opts.type
        style=_.compact([
          "height: #{opts.height}vh;",
          "background-image: url(/img/thumbs/#{opts.img}-reveal@2x.png)",
          opts.position ? "background-position: #{opts.position}" : "",
          "min-height: #{opts.height * 7.5}px"
        ]).join(";")
      )
        .thumb-img(
          style="background-image: url(/img/thumbs/#{opts.img}@2x.png)"
        )
        a.thumb-link(
          href=opts.url
        )
          span.thumb-title= opts.title

    .txt-center.clearfix
      +thumb({
        type: "col-sm", 
        height: 40,
        img: "asterisms",
        title: "Asterisms",
        url: "/projects/asterisms",
        position: "center"
      })
      +thumb({
        type: "col-sm txt-white", 
        height: 20,
        img: "philippa",
        title: "Philippa",
        url: "/fonts/philippa"
      })
      .col-sm
        .col-wrap
          +thumb({
            type: "col-md", 
            height: 20,
            img: "svenska",
            title: "Svenska",
            url: "/fonts/svenska"
          })
          +thumb({
            type: "col-md", 
            height: 20,
            img: "console-log",
            title: "console.log",
            url: "/projects/console-log"
          })
      .col-sm
        .col-wrap
          +thumb({
            type: "col-md", 
            height: 20,
            img: "golumpki",
            title: "Golumpki",
            url: "/fonts/golumpki"
          })
          +thumb({
            type: "col-md", 
            height: 20,
            img: "typicons",
            title: "Typicons",
            url: "/typicons"
          })
      +thumb({
        type: "col-sm", 
        height: 20,
        img: "ed-sans",
        title: "Ed Sans",
        url: "/fonts/ed-sans"
      })
