extends ../../partials/project

block prepend config
  - var project = data.getOne("projects",  "asterisms");

block append article
  .gallery.stretch
    #item-1.gallery-item.bg-dk
      .stretch
        img.stretch(
          src="/img/projects/asterisms/asterisms-simple.jpg"
          alt="Detail with shallow focus"
        )

    #item-2.gallery-item.bg-dk
      .stretch.bg-cover(
          style="background-image: url(/img/projects/asterisms/asterisms-detail-shallow-focus.jpg)"
          alt="Detail with shallow focus"
        )
          .pv-xxl.ph-xl
            .mx-md.bg-wh.txt-dk
              p.p-lg
                | Every element on the poster is placed by hand, taking great 
                | care to ensure there are no unsightly overlaps or awkward 
                | spaces. Stars show  relative brightness by the size of their 
                | circle, and brighter stars are individually labelled. Major 
                | constellations and asterisms are shown, as well as other 
                | interesting galaxies, nebulae and the band of stars forming 
                | the Milky Way.

    #item-3.gallery-item.ph-xl.pv-xxl.flex-between.txt-sm.bg-hl
      .col-wrap
        .col-lg
          .bg-shadow(style="margin-bottom: 1.6em")
            figcaption.bg-wh.txt-dk.p-sm
              | Detail of Betelgeuse, Orion’s second brightest star
            figure
              img(
                src="/img/projects/asterisms/asterisms-detail-1.png"
                alt="Detail of Betelgeuse, Orion’s second brightest star"
                width="480"
              )

        .col-sm
          .bg-shadow
            figure
              img(
                src="/img/projects/asterisms/asterisms-detail-3.png"
                alt="M33 in the Triangulum constellation"
                width="480"
              )
            figcaption.bg-wh.txt-dk.p-sm
              | M33 in the Triangulum constellation is one of the most distant
              | objects visible with the naked eye

      .col-wrap
        .col-md(style="margin-top: 1.6em")
          .bg-shadow
            figure
              img(
                src="/img/projects/asterisms/asterisms-detail-2.png"
                alt="Altair, “the flying eagle”, in the Aquila constellation"
                width="480"
              )
            figcaption.bg-wh.txt-dk.p-sm
              | Altair, “the flying eagle”, in the Aquila constellation

        .col-md
          .bg-shadow(style="margin-top: 1.6em")
            figcaption.bg-wh.txt-dk.p-sm
              | The constellation of Leo contains the 
              | awesome-sounding Al’dzhabkhakh

            figure
              img(
                src="/img/projects/asterisms/asterisms-detail-4.png"
                alt="The constellation of Leo"
                width="480"
              )
