extends ../../partials/project

block prepend config
  - var project = data.getOne("projects",  "asterisms");

block append article
  .gallery.stretch
    #item-1.gallery-item.p-h-lg.p-v-xxl(style="background: #f9f6f2;")
      img(
        alt="Asterisms - Full Size"
        src="/img/projects/asterisms/asterisms-poster.jpg"
      )
    #item-2.gallery-item.p-h-xl.p-v-xxl.flex-between.txt-sm(style="background: #212121; color: #fff")
      .col-wrap.p-v-sm
        .col-lg
          p 
            | Detail of Betelgeuse, Orion’s second brightest star
          p
            img(
              src="/img/projects/asterisms/asterisms-detail-1.png"
              alt="Detail of Betelgeuse, Orion’s second brightest star"
              width="480"
            )

        .col-sm
          p
            img(
              src="/img/projects/asterisms/asterisms-detail-3.png"
              alt="M33 in the Triangulum constellation"
              width="480"
            )
          p 
            | 
            | M33 in the Triangulum constellation, one of the most distant 
            | objects visible with the naked eye

      .col-wrap.p-v-sm
        .col-md
          p
            img(
              src="/img/projects/asterisms/asterisms-detail-2.png"
              alt="Altair, “the flying eagle”, in the Aquila constellation"
              width="480"
            )
          p 
            | Altair, “the flying eagle”, in the Aquila constellation

        .col-md
          p
            img(
              src="/img/projects/asterisms/asterisms-detail-4.png"
              alt="The constellation of Leo"
              width="480"
            )
          p 
            | The constellation of Leo and the awesome-sounding Al’dzhabkhakh
