block config
  - var bodyClass = "";
  - var fonts = "Raleway:900|Signika:300|News+Cycle:400";

doctype html
html.no-js(lang="en" class=bodyClass)
  head
    block head
      script.
        document.documentElement.className = "#{bodyClass}"
 
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
      meta(
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1"
      )
      
      title s&middot;ings | #{page.title}

      meta(name="title" content=page.title)
      meta(name="description" content=locals.description)

      link(
        rel="alternate"
        href="/feed.xml"
        type="application/rss+xml"
        title=locals.description
      )
      
      link(
        href="http://fonts.googleapis.com/css?family=#{fonts}"
        rel="stylesheet" type="text/css"
      )

      link(rel="stylesheet" href="/css/main.css")
      link(rel="shortcut icon" href="/img/favicon.png")

  body
    header#header
      block header
        h1#header-title
          a(href="/")
            | s
            em &middot;
            | ings
      
        nav#header-nav
          each url, title in locals.navigation
            - var active = page.filepath.relative.search(new RegExp(title, "i")) != -1;
            h4: a.nav-link(class=(active ? "active" : ""), href=url)=title

    #container
      #content
        block content

    footer#footer
      .content-wrap
        block footer
          !=contents.partials["colophon.md"].html


    script(type="text/javascript" src="/js/script.js")
    | !{ livereloadScript }
