extends layout

block append config
  - bodyClass = "projects";

block content
  section#projects
    for row, i in locals.page.metadata.projects
      .row
        .content-wrap
          for project in row
            a.project-link(href=project.url class=project.size)
              img.project-img(src=project.img)
              .project-desc
                h2= project.name
                p!= typogr(project.desc).typogrify()
