extends ../../partials/project

block prepend config
  - var project = data.getOne("projects",  "console-log");

mixin set(n, m, k)
  for j, i in (new Array(m - n + 1))
    - image = (n + i).toString()
    - while (image.length < 3) { image = "0" + image}
    div(class=k || "col-sm")
      a(href=`/img/projects/console-log/composed/${image}.png` data-follow)
        img(
          src=`/img/projects/console-log/composed/${image}.png`
        )

block append article
  .gallery
    #item-1.gallery-item.ph-lg.pv-xxl.bg-lt.flex-evenly
      img(
        alt="console.log - Full Size"
        src="/img/projects/console-log/console-log-poster.jpg"
      )

    #item-2.gallery-item.ph-xl.pv-xxl.flex-evenly
      section.mx-md
        :marked
          Most computer generated artwork explores abstract, mathematical
          relationships and systems. While this can result in interesting
          effects, this project has a different aim. Each illustration in the
          series is programmatically drawn by an algorithm, but the goal is to
          recreate the rendering of an illustrator rather than computer. This
          is acheived by imitating the soft corners and crisp edges of linocut
          printing techniques, the unintentional mistakes of the human hand
          and the undirected wandering of natural variation.

    #item-3.gallery-item
      .stretch
        img.stretch(
          src="/img/projects/console-log/console-log-detail.jpg"
          alt="Detail with shallow focus"
        )

    #item-4.gallery-item.ph-xl.pv-xxl.flex-evenly.of-auto
      section.mx-md
        :marked
          The oblique projection is made of two main components, the open
          cut circular face of the timber and the extruded solid behind. The
          face is made of a series of concentric rings, each constructed from
          a set of bezier paths, slightly varying as the extend from the
          center. Cracks in the timber are added as elongated simple polygons
          drawn radially from the center. A patch of grainy texture is also
          added, although this may be lost in the final process.

          The extrusion is made of two basic components — the filled repeated
          outer ring translated in some direction and a series of curved
          strokes made parallel to this projection.

          The log is then processed using a combination of added noise,
          blurring and color quantization. The final step partially recenters
          the log after the extrusion.

        p
          | Each design is available as a limited edition print on high-quality
          | archival A3 stock. If you’re interested in getting your hands on 
          | one of these, 
          a(data-view="views/send-email") get in touch.

    #item-5.gallery-item.p-xxl.flex-between.of-auto.bg-lt
      .col-wrap.pv-sm
        +set(7, 9)
      .col-wrap.pv-sm
        +set(10, 12)
      .col-wrap.pv-sm
        +set(13, 15)
