extends ../partials/project

block prepend config
  - var project = data.getOne("projects",  "typicons");

block append config
  - page.title = "Typicons"
  - page.description = "336 pixel perfect, all-purpose vector icons"
  - page.class += " page-typicons"

block prepend footer
  include ../partials/typicons/carbon

  strong v2.0.9

block append article
  .gallery.stretch(data-view="views/typicons")
    .gallery-item.flex-between.p-h-lg.p-v-xxl.bg-hl#icon-container
        .flex-grid.p-v-sm
          for icon in project.icons
            .icon(
              data-name=icon.name
              data-code=icon.code
              data-match=icon.match
              style="background-image: url(/img/projects/typicons/svg/#{icon.name}.svg)"
            )

        .p-v-sm
          #icon-search-bar.txt-ellipsis
            input#icon-search(type="text" placeholder="Search....")
            label#icon-details(for="icon-search")
              | Search for a specific icon by its name or keywords.

    .gallery-item.flex-between.p-h-xxl.p-v-xxl.bg-lt
      h1 Typicons. 336 pixel perfect,<br>all-purpose vector icons.

      h2 
        | Typicons are free-to-use vector icons embedded in a webfont for easy 
        | use in your user interfaces, whether it be on the web or in a native 
        | application.

      p 
        | The set of icons are available on Github, with everything included 
        | from the source files in SVG format to the minifed CSS. You can even 
        | use this project to build your own custom version of Typicons! Find 
        | out more here.

      p 
        | This version greatly improves Typicons, with the addition on 220 
        | icons with solid and outline styles and Github hosting of the source 
        | content. So what are you waiting for? Combine HTTP requests with a 
        | retina ready, resolution independent, screen-reader-friendly webfont.

      p
        | Read more about 
        a(href="/typicons/more/making-typicons") making Typicons
        |  or 
        a(href="/typicons/more/how-to-use-typicons") how to use them.

      include ../partials/typicons/donate
    
