extends /partials/project

block prepend config
  - var project = data.getOne("projects",  "typicons");

block append config
  - page.title = "Typicons";
  - page.description = "336 pixel perfect, all-purpose vector icons";
  - page.class += " page-typicons";

block body
  link(rel="stylesheet" href="/fonts/typicons/typicons.css")

  .content
    .pv-xxl.content-wrap(style="padding-bottom: 2em")
      include /partials/header
      .col-wrap.pv-sm
        .col-md
          h1= page.title

          != typogr.typogrify(marked(project.desc))


          ul.list-inline.txt-sm
            if project.urls
              for action, i in project.urls
                li
                  a.btn-ul(href=action.link)
                    h4= action.text

            if project.version
              li
                strong v&thinsp;
                  span.txt-tu #{project.version}
        .col-md
          include /partials/typicons/carbon

  .notice.p-sm.bg-hl.bg-flat.txt-center
    p.txt-lg
      | Looking for a modern, lightweight font icon set?
      = " "
      a.btn-ul(href="/projects/microns-icon-font/")
        strong Try microns.
  section.page-typicons(data-view="views/icon-search" data-classname="typcn")
    #icon-container.flex-between.ph-lg.pv-lg.bg-hl.bg-hl-dk
      .content-wrap
        #icon-search-bar
          input#icon-search.fl-l(type="text" placeholder="Search")
          label#icon-details.txt-ellipsis(for="icon-search")
            | Search for a specific icon by its name or keywords.

        .icon-grid.flex-grid.pv-sm.txt-center
          for icon in project.icons
            .typcn.icon(
              data-name=icon.name
              data-class=icon.class
              data-code=icon.code
              data-match=[icon.name,icon.match].join(" ")
              class=icon.class
            )

    .content-wrap.pv-xl
      :marked
        ## Typicons. 336 pixel perfect, all-purpose vector icons.

        <h3>
          Typicons are free-to-use vector icons embedded in a webfont for use
          in your user interfaces, whether it be on the web or in a native
          application.
        </h3>

        The set of icons are available on Github, with everything included
        from the source files in SVG format to the minifed CSS. You can even
        use this project to build your own custom version of Typicons! Find
        out more here.

        This version greatly improves Typicons, with the addition on 220
        icons with solid and outline styles and Github hosting of the source
        content. So what are you waiting for? Combine HTTP requests with a
        retina ready, resolution independent, screen-reader-friendly webfont.

        Read more about [making Typicons](/typicons/more/making-typicons)
        and [how to use them](/typicons/more/how-to-use-typicons).

      include ../partials/typicons/donate
